---
layout: basic-full/content.hbs
preheader: "ISA Monthly Billing Statement."
---
\{{#billing_statement}}

<p>
Kepada \{{student.name}},
</p>

<p>
Terima kasih atas kepercayaan Anda menggunakan layanan <strong>Income Sharing Agreement (ISA)</strong>.
</p>

<p>
Melalui email ini, kami lampirkan dokumen <strong>Billing Statement Income Sharing Agreement (ISA)</strong>.
Silahkan download document ini dengan menggunakan password <strong>ddmmyy</strong> untuk membuka Billing Statement Anda yang terdiri dari :
</p>

{{> pdf_password}}

<p>
Mohon abaikan pemberitahuan ini bila Anda telah melakukan pembayaran, email ini bersifat informasi dan tidak dapat di-reply.
</p>

{{> isa_contact}}

\{{/billing_statement}}
