<table>
  <tr>
    <td>
      dd :
    </td>
    <td>
      Dua digit tanggal lahir Anda
    </td>
  </tr>
  <tr>
    <td>
      mm :
    </td>
    <td>
      Dua digit bulan lahir
    </td>
  </tr>
  <tr>
    <td>
      yy :
    </td>
    <td>
      Dua digit tahun lahir
    </td>
  </tr>
</table>

<p>
Contoh: Password dengan tanggal lahir 15 Maret 1993 adalah: <p>200393</p>
</p>

